<div class="container">
  <%= link_to "◀︎ Retour", livres_path %>
  <div class="form-livres d-flex mt-3">
    <h2>Créer un livre dans la bibliothèque</h2>
    <%= render "form", livres: @livre %>
  </div>
</div>
