<%= link_to "Retour", livres_path %>

<h2><strong>Détails sur le livre</strong></h2>

<p>Réservations prévues : </p>
<%= Reservation.all %>
<%= link_to "Supprimer", @livre, data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr(e)?" } %>
