// Specific CSS for your home-page
#banner-hp {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-position: center;
    img {
    width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
}


h1, .hp {
  font-size: 6.5rem;
  color: azure;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 7rem;
  padding-top: 6rem;
}

.link-hp {
  color: #0D6EFD;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  text-decoration: none;
}


.btn-grad {
  background-image: linear-gradient(to right, #ddd6f3 0%, #faaca8  51%, #ddd6f3  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-weight: bold;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.link-hp a {
  text-decoration: none;
  font-size: 2rem;
}

.partage {
  color: #F8AFAD;
  font-size: 2rem;
  margin-top: 4rem;
  font-style: italic;
}
