.card-livre {
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    h2 {
      display: flex;
      justify-content: center;
    }
    p {
      margin: 0;
    }
}

.body-bg {
  background-image: url("livresbg.png");
}

.ajouter-livre {
  justify-content: end;
  flex-direction: row-reverse !important;
}

a {
  text-decoration: none;
  color: #666666;
}

a:hover {
  color: black;
}

.card-livre-element p {
  margin-left: 1rem;
}

.card-livre-element {
  display: flex;
  align-items: baseline;
}

.btn-reserver {
  margin-left: 2rem;
  margin-top: 2rem;
}

#btn-ajouter a {
  color: white;
}
