.card-livre {
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    h2 {
      display: flex;
      justify-content: center;
    }
    p {
      margin: 0;
    }
}

.body-bg {
  background-image: url("https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwMTMtcC0wMDA5YV8xLmpwZw.jpg");
}

.ajouter-livre {
  justify-content: end;
  flex-direction: row-reverse !important;
}

a {
  text-decoration: none;
  color: #666666;
}

a:hover {
  color: black;
}

.card-livre-element p {
  margin-left: 1rem;
}

.card-livre-element {
  display: flex;
  align-items: baseline;
}

.btn-reserver {
  margin-left: 2rem;
  margin-top: 2rem;
}

#btn-ajouter a {
  color: white;
}

.searchbar .d-flex {
  margin: 0.5rem;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.marge-h5 {
  margin-left: 3rem;
  font-style: italic;
  color: cadetblue;
}
