<div class="banner" id="banner-hp" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1506962240359-bd03fbba0e3d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2330&q=80);">
  <div class="container">
    <h1 class="hp"> Partagez vos coups de coeurs avec vos amis !</h1>
    <div class="link-hp">
      <strong><%= link_to "Bibliothèque entre amis 📖", livres_path, class: 'btn-grad'  %></strong>
    </div>
    <p class="partage">Des livres à partager</p>
  </div>
</div>
