<div class="row container">
  <div class="col">
    <%= simple_form_for [@livre, @reservation],
                        html: {
                          data: {
                            controller: 'flatpickr'
                          }
                        } do |f| %>
      <%= f.input :debut,
                    label: "Sélectionnez vos dates de réservation",
                    as: :string,
                    input_html: {
                      data: {
                        flatpickr_target: 'startDateInput',
                      }
                    } %>
      <%= f.input :fin,
                    label: false,
                    as: :string,
                    input_html: {
                      data: {
                        flatpickr_target: 'endDateInput'
                      }
                    } %>
      <%= f.submit "Réserver", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
