<div class="row">
  <div class="col">
    <%= simple_form_for [@livre, @reservation],
                        html: {
                          data: {
                            controller: 'flatpickr',
                            flatpickr_dates_value: @livre.flatpickr_booked_dates_object
                          }
                        } do |f| %>
      <%= f.input :debut,
                    label: "Sélectionnez vos dates de réservation pour ce livre",
                    as: :string,
                    input_html: {
                      data: {
                        flatpickr_target: 'startDateInput',
                      }
                    } %>
      <%= f.input :fin,
                    label: false,
                    as: :string,
                    input_html: {
                      data: {
                        flatpickr_target: 'endDateInput'
                      }
                    } %>
      <%= f.submit "Réserver", class: "btn btn-grad" %>
    <% end %>
  </div>
</div>
