<div class="container">
  <h2 class="resa">Toutes mes réservations</h2>
</div>
<% @reservations.each do |reservation| %>
<%= reservation.user.email %><%= reservation.debut %> <%= reservation.debut %>
<% end %>
