<body class="body-new-resa">
  <div class="retour-button m-4">
    <%= link_to "◀︎ Retour", livres_path %>
  </div>
  <div class="container d-flex">
    <div class="form-reserver d-flex">
      <h2>Réserver</h2>
      <%= render "form"%>
    </div>
  </div>
</body>
