<div class="container">
  <div class="retour-button m-3">
    <%= link_to "◀︎ Retour", livres_path %>
  </div>
  <div class="form-reserver d-flex">
    <h2>Réserver</h2>
    <%= render "form"%>
  </div>
</div>
