.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

body {
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.home-transparent {
  background: transparent;
  position: absolute;
  top:0;
  z-index: 999;
  width: 100vw;
  padding: 0;
  a {
    color: white;
  }
}

.fa-book {
  font-size: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.container-fluid {
  padding-top: 0;
}

.home-bgb {
  background-color: black;
}
